# Configuración de variables de entorno para la base de datos

# Usuario de Postgres
POSTGRES_USER=usuario

# Contraseña para el usuario de Postgres
POSTGRES_PASSWORD=contrasena

# Nombre de la base de datos
POSTGRES_DB=eventos_db

# Puerto en el host para conectarse a Postgres
POSTGRES_PORT=5439

# Datos de conexión para la aplicación
DB_HOST=postgres
DB_PORT=5432